body {
    background-color: #33272a;
    color: #FBF5F3;
    width: 100%;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
    background-color: #473338;
}

.nav-title {
    font-size: 1.5rem;
}

.color-scheme {
    height: 1.2rem;
    width: auto;
}

main {
    text-align: center;
}

h1, button, .nav-title {
    font-family: Cabin, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2, h3 {
    font-family: Kanit, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.weapons-container {
    margin: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.weapon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    cursor: pointer;
    color: #473338;
    background-color: #d1a293;
    background: linear-gradient(45deg, rgb(184,121,121) 15%, rgb(230,185,161) 100%);
}

button:hover {
    background: linear-gradient(45deg, rgb(184,121,121) 40%, rgb(230,185,161) 100%);
}

button:active {
    background: linear-gradient(45deg, rgb(184,121,121) 55%, rgb(230,185,161) 100%);
}

.rock img, .paper img, .scissors img {
    height: 150px;
    width: auto;
}

#decisions-container {
    font-size: 1.7rem;
    font-family: Kanit, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-weight: 900;
}

#win-or-loss {
    font-size: 2.5rem;
    font-family: Cabin, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 450px) {
    .weapon button img {
        width: 130px;
        height: 100%;
    }
}